<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top h5 m-0 px-3">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" aria-expand>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav d-flex justify-content-between col-12">
            <div class="d-flex">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('country_index') }}">Country</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('comment_index') }}">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('photo_index') }}">Photos</a>
                </li>
            </div>
            <div class="d-flex ">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link text-warning" aria-current="page" href="{{ path('profile_index', { username: app.user.username }) }}">{{ app.user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_register') }}">Registration</a>
                    </li>
                {% endif %}
            </div>
        </ul>
    </div>
</nav>